<section class="header">
  <img src="../../assets/img/blackout.png" alt="blackout logo" class="logo">
  <!-- <button (click)="openMenu()" class="openMenu-btn">Menu</button> -->
  <!-- <div *ngIf="clickedMenu" id="menu">
    <p>Menu</p>
    <i (click)="closeMenu()" class="material-icons closeMenu-btn">
      clear
    </i>
    <div class="btn-container">
      <button class="menu-options">
        How to play
      </button>
      <button class="menu-options" (click)="quitGame()">
        Quit Game
      </button>
    </div>
  </div> -->

  <div *ngIf="this.timerService.finishedTutorial" id="battery">
    <div class="battery battery-drain">
      <span class="time"
        >{{ this.timerService.minutes }}:{{
          this.timerService.seconds < 10
            ? "0" + this.timerService.seconds
            : this.timerService.seconds
        }}</span
      >
    </div>
  </div>
  <div id="inventory" class="selected">
    <div
      *ngFor="let invItem of inventoryItems; index as i"
      class="item-box"
      [ngClass]="{ selected: this.matchService.selected }"
    >
      <img
        src="{{ invItem.item_image }}"
        class="items invItem{{ i }}"
        alt="{{ invItem.item_name }}"
        (click)="[matchItems1(invItem.match_item_name), clickedItem(i)]"
      />
    </div>
  </div>
  <button class="quit_btn" (click)="quitGame()">
      Quit Game
    </button>
</section>
