@font-face {
  font-family: "digital-7regular";
  src: url("../../assets/digital-7-webfont.woff2") format("woff2"),
    url("../../assets/digital-7-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.header {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  height: 6vh;
  align-items: center;
}

.logo {
  width: 25%;
  height: 100%;
  margin-left: 10px;
}

/* .openMenu-btn {
  padding: 5px;
  margin: 4px;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 18x;
  color: white;
  background-color: black;
} */

.time {
  font-family: "digital-7regular";
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
  font-size: 20px;
  position: relative;
  top: 15%;
  left: 40%;
}

/* Popup menu */
/* #menu {
  background-color: slategrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;
  border-radius: 15px;
  height: 40%;
  width: 30%;
  z-index: 999;
}

.openMenu-btn,
.menu-options {
  border: none;
  outline: none;
}

.menu-options {
  background-color: slategrey;
}

.openMenu-btn:hover,
.closeMenu-btn:hover,
.menu-options:hover {
  cursor: pointer;
  color: red;
}

#menu > p {
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 34px;
  color: white;
}

.btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.menu-options {
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
  font-size: 24px;
}

.closeMenu-btn {
  position: absolute;
  right: 0;
}

.openMenu-btn,
.closeMenu-btn,
.menu-options {
  cursor: pointer;
}

.material-icons {
  margin-top: 5px;
  font-size: 36px;
} */

.quit_btn {
  margin-left: 6px;
  font-family: "insomniaregular";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  border-radius: 15px;
  height: 85%;
}

.quit_btn:hover {
  background-color: red;
}

#inventory {
  display: flex;
  align-items: center;
  width: 50%;
  height: 70%;
  background-color: slategray;
  border-radius: 10px;
}

.selected {
  background-color: yellow;
  border-radius: 15px;
}

.items {
  color: white;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

.items:hover {
  background-color: yellow;
  opacity: 0.7;
}

.item-box {
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 30px;
}

#battery:after {
  background-color: #fff;
  border: 2px solid #000;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  right: -6px;
  top: 7px;
  width: 6px;
  border-radius: 5px;
}

#battery {
  background-color: #fff;
  border: 2px solid #000;
  height: 32px;
  position: relative;
  width: 100px;
  margin: 5px;
  margin-right: 30px;
  margin-left: 30px;
  /* margin-top: 20px; */
  border-radius: 5px;
}

.battery-drain {
  background-color: green;
  height: 100%;
  animation-name: widthChange;
  animation-duration: 300s;
  border-radius: 5px;
}

@keyframes widthChange {
  0% {
    background-color: green;
    width: 100%;
  }
  50% {
    background-color: yellow;
    width: 50%;
  }
  100% {
    background-color: red;
    width: 0;
  }
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .header {
    height: 10vh;
  }

  .quit_btn {
    font-size: 12px;
  }

  /* .openMenu-btn {
    font-size: 16px;
  } */

  #inventory {
    display: flex;
    position: relative;
    align-content: center;
    width: 50%;
    background-color: slategray;
    border-radius: 15px;
    margin: 1px;
    padding: 5px;
  }
}

/* Tablet Portrait View */
@media screen and (min-width: 768px) {
  /* .game-header {
    width: 95%;
  } */
  .header {
    height: 6vh;
  }

  /* #menu {
    width: 200px;
    height: 300px;
  } */

  .menu-options {
    margin-bottom: 25px;
  }

  .openMenu-btn,
  .menu-options {
    font-size: 20px;
  }

  #battery {
    width: 200px;
  }

  #inventory {
    width: 50%;
  }
}

/* Tablet Landscape / Desktop View */
@media screen and (min-width: 1024px) and (orientation: Landscape) {
  .header {
    height: 10vh;
  }

  .items {
    width: 100%;
    height: 100%;
  }

  .item-box {
    width: 50px;
    height: 50px;
  }
}
