<section class="header">
  <button (click)="openMenu()" class="openMenu-btn">Menu</button>
  <div *ngIf="clickedMenu" id="menu">
    <p>Menu</p>
    <i (click)="closeMenu()" class="material-icons closeMenu-btn">
      clear
    </i>
    <div class="btn-container">
      <button class="menu-options">
        How to play
      </button>
      <button class="menu-options">
        Reset Game
      </button>
      <button class="menu-options" (click)="stopTimer()">
        Quit Game
      </button>
    </div>
  </div>
  <div *ngIf="this.timerService.finishedTutorial" id="battery">
    <div class="battery battery-drain">
      {{ this.timerService.timeRemaining }}
    </div>
  </div>
  <div id="inventory">
    <div *ngFor="let invItem of inventoryItems; index as i">
      <img
        src="{{ invItem.item_image }}"
        class="items invItem{{ i }}"
        alt="{{ invItem.item_name }}"
        (click)="matchItems1(invItem.match_item_name)"
      />
    </div>
  </div>
</section>
