<section class="header">
  <button (click)="openMenu()" class="openMenu-btn">Menu</button>
  <div *ngIf="clickedMenu" id="menu">
    <p>Menu</p>
    <i (click)="closeMenu()" class="material-icons closeMenu-btn">
      clear
    </i>
    <div class="btn-container">
      <button class="menu-options">
        How to play
      </button>
      <button class="menu-options">
        Reset Game
      </button>
      <button class="menu-options">
        Quit Game
      </button>
    </div>
  </div>
  <div class="game-header">
    <div id="battery">
      <div class="battery battery-drain"></div>
      <!-- {{ this.timerService.timeRemaining }} seconds left -->
    </div>
    <div id="inventory">
      <div *ngFor="let iItem of inventoryItems; index as i">
        <img src="{{ iItem.image }}" class="items item{{ i }}" alt="{{ iItem.item_name }}" (click)="matchItems1(iItem.match_item_name)">
      </div>
      
    </div>
  </div>
</section>