.prompt {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhZqML1UB7TGAiJpaSEkdgk46nRI8NZcJEwPctgJvHQ6E9ep5E");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  /* position: relative; */
  height: 86vh;
  width: 100vw;
  display: flex;
  align-items: center;
}


.endGame {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* z-index: 100; */
}

.promptBtn {
  width: 50%;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 18x;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  color: black;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  cursor: pointer;
}

.promptBtn:hover {
  border: 1px solid yellow;
  background-color: yellow;
}

h2 {
  margin: 0;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  color: white;
}

p {
  font-size: 18px;
  line-height: 24px;
  color: white;
}




/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
p {
    font-size: 22px;
    line-height: 30px;
  }
}

/* iPad Portrait View */
@media screen and (min-width: 768px) {


  p {
    font-size: 24px;
    line-height: 36px;
  }
}

/* iPad Landscape / Desktop View */
@media screen and (min-width: 1024px) and (orientation: Landscape) {
  .endGame {
    padding: 100px;

  }

  .promptBtn {
    width: 25%;
    height: 20%;
    margin-top: 10px;
  }

  h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}


