/* Mobile Portrait View */
.hidden {
  display: none;
}

.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.rotateImg {
  width: 80%;
  margin-top: 10%;
}

.hint,
.flashlightClue {
  background-color: rgb(236, 236, 236);
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 15px;
  border: 2px;
  border-color: red;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  width: 30%;
}

.hintBtn,
.flashlightBtn {
  border-radius: 5px;
  border: 1px solid black;
  background-color: whitesmoke;
  z-index: 15;
  padding: 10px;
  cursor: pointer;
  width: 50%;
}

.overlay {
  /* pointer-events: none; */
  z-index: -10;
}

.items,
.flashlightImg {
  display: none;
  cursor: pointer;
}

.items {
  opacity: 0.5;
}

.items:hover {
  opacity: 1;
}

.mobileFlashlight {
  display: none;
  cursor: move;
}

.desktopFlashlight {
  display: none;
  /* z-index: 10; */
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-R.png");
    background-size: cover;
    height: 77vh;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  .item0 {
    display: block;
    position: absolute;
    width: 7vw;
    height: 10vh;
    right: 30vw;
    bottom: 20vh;
  }

  .overlay {
    height: 77vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .flashlightImg {
    display: block;
    position: absolute;
    height: 13vh;
    width: 20vw;
    right: 20vw;
    bottom: 20vh;
    opacity: 0.9;
    /* cursor: pointer; */
  }

  .mobileFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    /* pointer-events: none; */
  }
}

/* iPad Portrait View */
@media screen and (min-width: 768px) {
  .background {
    position: relative;
    height: 86vh;
    width: 100vw;
  }

  .rotateMessage {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
    width: 100vw;
  }

  .rotateImg {
    width: 60%;
    margin-top: 10%;
  }

  .items {
    display: none;
    opacity: 0.5;
    cursor: pointer;
  }

  .flashlightImg {
    display: none;
  }
}

/* iPad Landscape / Desktop View */
@media screen and (min-width: 1024px) and (orientation: Landscape) {
  .background {
    height: 81vh;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  /* key */
  .item0 {
    display: block;
    bottom: 25vh;
    width: 7vw;
    height: 10vh;
  }

  .hint,
  .flashlightClue {
    font-size: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .hintBtn,
  .flashlightBtn {
    padding: 15px;
    font-size: 20px;
    margin-top: 2vh;
  }
  
  .overlay {
    height: 81vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .flashlightImg {
    display: block;
    height: 8vh;
    width: 20vw;
    right: 18w;
    bottom: 25vh;
  }

  .mobileFlashlight {
    width: 250px;
    height: 250px;
  }

  .desktopFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    pointer-events: none;
  }
}

/* Desktop View - Item Positioning */
@media screen and (min-width: 1200px) {
  .item0 {
    bottom: 20vh;
    width: 7vw;
    height: 10vh;
  }

  .flashlightImg {
    display: block;
    height: 9vh;
    width: 15vw;
    right: 23vw;
    bottom: 20vh;
  }
}
