<section class="background">
  <div class="rotateMessage">Please rotate to landscape to play!</div>
  <div *ngFor="let item of items; index as i">
    <img
      src="{{ item.item_image }}"
      class="{{ item.item_name }}"
      alt="{{ item.item_name }}"
      (click)="showItemHint(i)"
    />
    <div *ngIf="this.tutorialRoomService.items[i].showingHint" class="hint">
      <p>{{ item.item_use }}</p>
      <button (click)="[selectItem(item), removeItem(item)]">
        Grab Item
      </button>
    </div>
  </div>
</section>
