.room-navigation-arrows {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 7vh;
}

.navigationArrows {
  cursor: pointer;
  color: white;
  font-size: 45px;
}

.activeFront {
  color: yellow;
}

.activeLeft {
  color: yellow;
}

.activeRight {
  color: yellow;
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .room-navigation-arrows {
    height: 12vh;
  }
}
