<div class="room-navigation-arrows">
  <i
    class="material-icons navigationArrows"
    (click)="navigateLeft()"
    [ngClass]="{
      active: this.gameProgressionService.navigateDirection === 'left'
    }"
  >
    arrow_left
  </i>
  <i
    class="material-icons navigationArrows"
    (click)="navigateFront()"
    [ngClass]="{
      active: this.gameProgressionService.navigateDirection === 'front'
    }"
  >
    arrow_drop_up
  </i>
  <i
    class="material-icons navigationArrows"
    (click)="navigateRight()"
    [ngClass]="{
      active: this.gameProgressionService.navigateDirection === 'right'
    }"
  >
    arrow_right
  </i>
</div>
<!-- <img
    class="navigationArrows"
    src="assets/img/Arrow Left.png"
    alt="Arrow Left"
  />
  <img
    class="navigationArrows"
    src="assets/img/Arrow Front.png"
    alt="Arrow Front"
    "
  />
  <img
    class="navigationArrows"
    src="assets/img/Arrow Right.png"
    alt="Arrow Right"
    "
    
  /> -->
