.room-navigation-arrows {
  border-top: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
}
.navigationArrows {
  cursor: pointer;
  margin-top: 10px;
  /* margin-bottom: 5px; */
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}
