.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.prompt {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  display: none;
}

/* .verbiage {
  color: white;
  font-size: 12px;
  width: 50%;
} */

.promptBtn {
  color: red;
  background: none;
  border: none;
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-F-2.png");
    background-size: cover;
    height: 77vh;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage {
    display: none;
  }

  .prompt {
    display: flex;
  }
}

/* iPad Landscape View */
@media screen and (min-width: 768px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-F-2.png");
    background-size: cover;
    height: 85vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/* @media screen and (min-width: 1024px) {
  .background {
    background-image: url("../../assets/img/Surgery-F.png");
    background-size: cover;
    height: 100vh;
    width: 150vw;
    background-repeat: no-repeat;
    background-position: center center;
  }
} */
