<section class="background">

  <div class="rotateMessage">Please rotate to landscape to play!
    <img src="../../assets/img/rotate.png" class="rotateImg">
  </div>
  <div
    class="overlay"
    (mousemove)="flashlightCursor($event)"
    (mouseout)="stopCursor($event)"
  >
    <div class="mobileFlashlight" cdkDragBoundary=".overlay" cdkDrag></div>
    <div
      class="desktopFlashlight"
      [ngStyle]="{
        top: y + 'px',
        left: x + 'px'
      }"
    ></div>
  </div>

  <section *ngIf="this.tutorialRoomService.isShowing" class="prompt">
    <h2>The Operating Room</h2>
    <p>
      The insane surgeon, Dr. Lobotomy, has just escaped from jail. Known for
      performing unnecessary and inhumane operations on unwilling participants,
      he’s suspected to be lurking in your town. After staying late at the
      office one night, the last thing you remember is walking to your car in
      the dark. You just woke up here, strapped to a chair, and know you must be
      Dr. Lobotomy’s next victim. Use the items you find in the room to escape
      before he returns to finish his work!
    </p>
    <span class="promptBtn" (click)="hidePrompt()">OK</span>
  </section>
</section>
