/* Mobile Portrait View */
.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.rotateImg {
  width: 80%;
  margin-top: 10%;
}

.prompt {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.promptBtn {
  width: 50%;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 18x;
  background-color: slategray;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.promptBtn:hover {
  border: 1px solid slategray;
}

h2 {
  margin: 0;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.mobileFlashlight {
  display: none;
}

.desktopFlashlight {
  display: none;
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-F-2.png");
    background-size: cover;
    height: 77vh;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  .prompt {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
  }

  .overlay {
    height: 77vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .mobileFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    /* pointer-events: none; */
  }
}

/* iPad Portrait View */
@media screen and (min-width: 768px) {
  .background {
    position: relative;
    height: 86vh;
    width: 100vw;
  }

  .rotateMessage {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
    width: 100vw;
  }

  .rotateImg {
    width: 60%;
    margin-top: 10%;
  }

  /* .flashlight {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    height: 250px;
    width: 250px;
    cursor: move;
    background: rgba(255, 255, 0, 0.384);
    z-index: 0;
    clip-path: circle(50%);
    pointer-events: none; send mouse events beneath this layer
  }  */

  /* .flashlight {
    width: 50px;
    height: 50px;
  } */

  /* .flashlight:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 150px;
    height: 150px; */
  /* border: 2000px solid rgba(0, 0, 0, 0.795); */
  /* overflow: hidden; */
  /* } */
  h1 {
    font-size: 64px;
  }

  .prompt {
    padding: 100px;
    height: 60%;
    width: 60%;
  }

  .promptBtn {
    width: 25%;
    height: 20%;
  }

  h2 {
    font-size: 26px;
  }
}

/* Tablet Landscape / Desktop View */
@media screen and (min-width: 1024px) and (orientation: Landscape) {
  .background {
    height: 81vh;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  .overlay {
    height: 81vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .mobileFlashlight {
    display: none;
  }

  .desktopFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    /* box-shadow: inset 0 0 250px 250px rgba(255, 228, 74, 0.26); */
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    pointer-events: none;
  }
}
