.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.prompt {
  background-color:  black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.promptBtn {
  width: 50%;
  font-family: 'insomniaregular';
  font-weight: normal;
  font-style: normal;
  font-size: 18x;
  background-color: slategray;
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promptBtn:hover {
  border: 1px solid slategray;
}
  
h2 {
  margin: 0;
  font-family: 'insomniaregular';
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}





/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-F-2.png");
    background-size: cover;
    height: 77vh;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage {
    display: none;
  }

  .prompt {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
  }
}

/* iPad Landscape View */
@media screen and (min-width: 768px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-F-2.png");
    background-size: cover;
    height: 85vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
  }

  h1 {
    font-size: 64px;
  }

  .prompt {
    padding: 100px;
    height: 60%;
    width: 60%;
  }

  .promptBtn {
    width: 25%;
    height: 20%;
  }

  h2 {
    font-size: 26px;
  }
}

/* @media screen and (min-width: 1024px) {
  .background {
    background-image: url("../../assets/img/Surgery-F.png");
    background-size: cover;
    height: 100vh;
    width: 150vw;
    background-repeat: no-repeat;
    background-position: center center;
  }
} */







