<section class="background">
  <div class="rotateMessage">Please rotate to landscape to play!
    <img src="../../assets/img/rotate.png" class="rotateImg">
  </div>

  <section *ngIf="this.room3Service.isShowing" class="prompt">
    <p class="verbiage">
      Great job! You have found Dr. Lobotomy's laboratory, which holds your
      escape route to the outside world. Hurry to find your way out before the
      crazy doctor returns or your battery runs out!! !
    </p>
    <button (click)="hidePrompt()">OK</button>
  </section>

  <div *ngFor="let uItem of unlockItems; index as i">
    <img src="{{ uItem.image }}" class="uItem{{ i }}" alt="{{ uItem.item_name }}"
      (click)="matchItems2(uItem.item_name)" />
  </div>

  <div *ngFor="let item of items; index as i">
    <img src="{{ item.item_image }}" class="item{{ i }}" alt="{{ item.item_name }}"
      (click)="[selectItem(item), removeItem(i)]" />
  </div>
</section>