/* Mobile Portrait View */
.hidden {
  display: none;
}

.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.rotateImg {
  width: 80%;
  margin-top: 10%;
}

.prompt {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  padding: 15px;
  font-size: 20px;
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  z-index: 100;
}

.promptBtn {
  width: 50%;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 18x;
  border: 1px solid black;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.promptBtn:hover {
  border: 1px solid yellow;
  background-color: yellow;
}

h2 {
  margin: 0;
  font-family: "insomniaregular";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
}

.items {
  display: none;
  opacity: 0.5;
  cursor: pointer;
}

.items:hover {
  opacity: 1;
}

.mobileFlashlight {
  display: none;
  cursor: move;
}
.desktopFlashlight {
  display: none;
  /* z-index: 10; */
}


.promptText {
  font-size: 18px;
  line-height: 24px;
}


/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/LAB-F.png");
    background-size: cover;
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .rotateMessage,
  .rotateImg {
    display: none;
  }

  .hint, .noMatch {
    background-color: rgb(236, 236, 236);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 15px;
    border: 2px;
    border-color: red;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 30%;
  }

  .hintBtn, .noMatchBtn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    z-index: 15;
    padding: 10px;
    width: 50%;
  }

  .prompt {
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
  }

  /* tongs */
  .item1 {
    display: block;
    position: absolute;
    height: 9vh;
    width: 4vw;
    right: 10vw;
    top: 42vh;
    transform: rotate(90deg);
  }

  /* drawer */
  .uItem2 {
    display: block;
    position: absolute;
    max-width: 20%;
  height: auto;
  width: auto;
    top: 43vh;
    left:67vw;
    z-index: 5;
  }

  /* code */
  .item3 {
    display: block;
    position: absolute;
    z-index: 1;
    height: 18vh;
    width: 6vw;
    top: 48vh;
    right: 20vw;
    transform: rotate(90deg);
  }

  /* crow bar */
  .item4 {
    display: block;
    position: absolute;
    height: 20vh;
    width: 3vw;
    bottom: 5vh;
    left: 2vw;
    transform: rotate(-25deg);
  }

  .overlay {
    height: 80vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }
  .mobileFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    /* pointer-events: none; */
  }

  .promptText {
    font-size: 22px;
    line-height: 30px;
  }
}

/* iPad Portrait View */
@media screen and (min-width: 768px) {
  .background {
    position: relative;
    height: 86vh;
    width: 100vw;
  }

  .rotateMessage {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
    width: 100vw;
  }

  .rotateImg {
    width: 60%;
    margin-top: 10%;
  }

  .items {
    display: none;
  }

  .promptText {
    font-size: 24px;
    line-height: 36px;
  }
}

/* iPad Landscape / Desktop View */
@media screen and (min-width: 1024px) and (orientation: Landscape) {
  .background {
    height: 81vh;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  .hint, .noMatch {
    font-size: 20px;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }


  .hintBtn {

/*   .hintBtn, .noMatchBtn {
    padding: 15px; */
    font-size: 20px;
    margin-top: 2vh;
  }

  .prompt {
    padding: 100px;
    height: 60%;
    width: 60%;
  }

  .promptBtn {
    width: 25%;
    height: 20%;
  }

  h2 {
    font-size: 26px;
  }

  /* tongs */
  .item1 {
    display: block;
  }

  /* drawer */
  .uItem2 {
    display: block;
    top: 44vh;
    z-index: 5;
  }

  /* code */
  .item3 {
    z-index: 1;
    display: block;
    height: 18vh;
    width: 7vw;
    top: 46vh;
    right: 18vw;
  }

  /* chisel */
  .item4 {
    display: block;
  }

  .overlay {
    height: 81vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }
  .mobileFlashlight {
    width: 250px;
    height: 250px;
  }
  .desktopFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    pointer-events: none;
  }
}

/* Desktop View - Item Positioning */
@media screen and (min-width: 1200px) {
/* tongs */
.item1 {
  display: block;
}

/* drawer */
.uItem2 {
  display: block;
  /* height: 8vh;
  width: 9vw;
  right: 34vw;
  top: 60vh; */
}

/* code */
.item3 {
  display: block;
  top: 51vh;
}

/* chisel */
.item4 {
  display: block;
  height: 23vh;
  width: 3vw;
  bottom: 1vh; 
}
}
