.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-L.png");
    background-size: cover;
    height: 77vh;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage {
    display: none;
  }

  .resize {
    height: 120px;
    width: 250px;
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
  }

  .hint {
    background-color: white;
    z-index: 10;
  }

  button {
    z-index: 15;
  }
}

/* iPad Portrait View -- display rotate message */
/* 
@media all and (min-width: 768px) {
  .background {
    display: none;
  }
  .rotate {
    display: block;
  }
} */
/* iPad Landscape View */
@media all and (min-width: 1024px) {
  .background {
    background-image: url("../../assets/img/Surgery-L.png");
    background-size: cover;
    height: 85vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .resize {
    height: 400px;
    width: 590px;
    position: absolute;
    bottom: 150px;
    left: 0;
  }
}

/* @media all and (orientation: landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-F.png");
    background-size: cover;
    height: 75vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
  }
} */
/* @media all and (max-width: 767px) {
  .background {
    background-image: url("../../assets/img/Surgery-F.png");
    background-size: cover;
    height: 100vh;
    width: 150vw;
    background-repeat: no-repeat;
    background-position: center center;
  }
} */
