<section class="background">
  <div class="rotateMessage">
    Please rotate to landscape to play!
    <img src="../../assets/img/rotate.png" class="rotateImg" />
  </div>
  <div class="overlay"></div>

  <div *ngFor="let uItem of unlockItems; index as i" [ngClass]="{'hidden': this.tutorialRoomService.uItems[i].collected}">
    <img
      src="{{ uItem.item_image }}"
      alt="{{ uItem.item_name }}"
      class="uItem{{ i }} items"
      (click)="[matchItems2(uItem.item_name), showUnlockHint(i)]"
    />
    <div *ngIf="this.tutorialRoomService.uItems[i].showingHint" class="hint">
      <p>{{ uItem.item_use }}</p>
      <button class="hintBtn" (click)="hideUnlockHint(i)">OK</button>
    </div>
  </div>
</section>
