/* Mobile Portrait View */
.hidden {
  display: none;
}

.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.rotateImg {
  width: 80%;
  margin-top: 10%;
}

.overlay {
  pointer-events: none;
  z-index: -10;
}

.items {
  display: none;
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Surgery-L.png");
    background-size: cover;
    height: 77vh;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  /* wrist strap */
  .uItem0 {
    display: block;
    position: absolute;
    height: 28vh;
    width: 30vw;
    position: absolute;
    bottom: 20vh;
    left: 0;
  }

  .hint {
    background-color: rgb(236, 236, 236);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 15px;
    border: 2px;
    border-color: red;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 30%;
  }

  .hintBtn {
    border-radius: 5px;
    border: 1px solid white;
    background-color: slategray;
    z-index: 15;
    padding: 10px;
  }

  .overlay {
    height: 77vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }
}

/* iPad Portrait View */
@media screen and (min-width: 768px) {
  .background {
    position: relative;
    height: 86vh;
    width: 100vw;
  }

  .rotateMessage {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
    width: 100vw;
  }

  .rotateImg {
    width: 60%;
    margin-top: 10%;
  }

  .overlay {
    height: 90vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .items {
    display: none;
  }
}

/* iPad Landscape / Desktop View */
@media all and (min-width: 1024px) and (orientation: Landscape) {
  .background {
    height: 81vh;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  .hint {
    font-size: 20px;
  }

  .hintBtn {
    padding: 15px;
    font-size: 20px;
  }

  .uItem0 {
    display: block;
    height: 25vh;
    width: 32vw;
    bottom: 25vh;
  }

  .overlay {
    height: 81vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }
}

/* Desktop View - Item Positioning */
@media all and (min-width: 1200px) {
  .uItem0 {
    height: 28vh;
    width: 30vw;
    bottom: 20vh;
  }
}
