<section class="background">
  <div class="rotateMessage">Please rotate to landscape to play!</div>
  <div *ngFor="let uItem of unlockItems; index as i">
    <img
      src="{{ uItem.item_image }}"
      alt="{{ uItem.item_name }}"
      class="resize"
      (click)="[matchItems2(uItem.item_name), showUnlockHint(i)]"
    />
    <div *ngIf="this.tutorialRoomService.uItems[i].showingHint" class="hint">
      <p>{{ uItem.item_use }}</p>
      <button (click)="hideUnlockHint(i)">OK</button>
    </div>
  </div>
</section>

<!-- [matchItems2(uItem.item_name),  -->
