.item1, .item2, .item3, .uItem0, .uItem1, .uItem2, .uItem3  {
    display: none;
}

.rotate {
    color: white;
    height: 85vh;
    width: 100vw;
  }
  /* Mobile Landscape View */
  @media all and (min-width: 568px) {
    .background {
      background-image: url("../../assets/img/Hallway-L.png");
      background-size: cover;
      height: 80vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .rotate {
      display: none;
    }
  }
  
  /* iPad Portrait View -- display rotate message */
  /* 
    @media all and (min-width: 768px) {
      .background {
        display: none;
      }
      .rotate {
        display: block;
      }
    } */
  /* iPad Landscape View */
  @media all and (min-width: 1024px) {
    .background {
      background-image: url("../../assets/img/Hallway-L.png");
      background-size: cover;
      height: 85vh;
      width: 85vw;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  
  /* @media all and (orientation: landscape) {
      .background {
        background-image: url("../../assets/img/Surgery-F.png");
        background-size: cover;
        height: 75vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center center;
      }
    } */
  /* @media all and (max-width: 767px) {
      .background {
        background-image: url("../../assets/img/Surgery-F.png");
        background-size: cover;
        height: 100vh;
        width: 150vw;
        background-repeat: no-repeat;
        background-position: center center;
      }
    } */
  