/* Mobile Portrait View */
.hidden {
  display: none;
}

.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.rotateImg {
  width: 80%;
  margin-top: 10%;
}

.items {
  display: none;
  cursor: pointer;
  opacity: 0.8;
}

.items:hover {
  opacity: 1;
}

.mobileFlashlight {
  display: none;
  cursor: move;
}

.desktopFlashlight {
  display: none;
}

/* Mobile Landscape View */
@media screen and (min-width: 568px) and (orientation: Landscape) {
  .background {
    background-image: url("../../assets/img/Hallway-L.png");
    background-size: cover;
    height: 77vh;
    /* width: 100vw; */
    background-repeat: no-repeat;
    background-position: center center;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  /* badge */
  .item0 {
    display: block;
    position: absolute;
    height: 8vh;
    width: 3vw;
    top: 47vh;
    left: 48vw;
    z-index: 1;
  }

  /* jacket */
  .uItem1 {
    display: block;
    position: absolute;
    height: 20vh;
    width: 15vw;
    top: 40vh;
    left: 45vw;
    z-index: 5;
  }

  .hint, .noMatch {
    background-color: rgb(236, 236, 236);
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    border-radius: 15px;
    border: 2px;
    border-color: red;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 15px;
    width: 30%;
  }

  .hintBtn, .noMatchBtn {
    border-radius: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    z-index: 15;
    padding: 10px;
    cursor: pointer;
  }

  .overlay {
    height: 77vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .mobileFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    /* pointer-events: none; */
  }
}

/* iPad Portrait View */
@media screen and (min-width: 768px) {
  .background {
    position: relative;
    height: 86vh;
    width: 100vw;
  }

  .rotateMessage {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
    width: 100vw;
  }

  .rotateImg {
    width: 60%;
    margin-top: 10%;
  }

  .items {
    display: none;
  }
}

/* iPad Landscape / Desktop View */
@media screen and (min-width: 1024px) and (orientation: Landscape) {
  .background {
    height: 81vh;
  }

  .hint, .noMatch {
    font-size: 20px;
  }

  .hintBtn, .noMatchBtn {
    padding: 15px;
    font-size: 20px;
  }

  .rotateMessage,
  .rotateImg {
    display: none;
  }

  /* badge */
  .item0 {
    display: block;
    height: 7vh;
    top: 46vh;
    z-index: 1;
  }

  /* jacket */
  .uItem1 {
    display: block;
    z-index: 5;
  }
  .overlay {
    height: 81vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.863);
    /* background-blend-mode: multiply; */
    mix-blend-mode: hard-light;
  }

  .mobileFlashlight {
    width: 250px;
    height: 250px;
  }

  .desktopFlashlight {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgba(255, 228, 74, 0.479);
    pointer-events: none;
  }
}

/* Desktop View - Item Positioning */
@media all and (min-width: 1200px) {
  /* badge */
  .item0 {
    display: block;
    width: 2vw;
    top: 47vh;
    z-index: 1;
  }

  /* jacket */
  .uItem1 {
    display: block;
    height: 25vh;
    z-index: 5;
  }
}
