/* Mobile Portrait View */
.item0 {
    display: none;
}

.background {
  position: relative;
  height: 86vh;
  width: 100vw;
}

.rotateMessage {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: inherit;
  width: 100vw;
}

.rotateImg {
  width: 80%;
  margin-top: 10%;
}


/* Mobile Landscape View */
@media all and (min-width: 568px) {
    .background {
      background-image: url("../../assets/img/Surgery-R.png");
      background-size: cover;
      height: 77vh;
      /* width: 100vw; */
      background-repeat: no-repeat;
      background-position: center center;
    }
    .rotateMessage, .rotateImg {
      display: none;
    }

    .hint {
      background-color: rgb(236, 236, 236);
      z-index: 10;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      border-radius: 15px;
      border: 2px;
      border-color: red;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding: 15px;
    }
  
    .hintBtn {
      border-radius: 5px;
      border: 1px solid white;
      background-color: slategray;
      z-index: 15;
      padding: 10px;
      
    }
  }
 
 
/* iPad Portrait View */
@media screen and (min-width: 768px) {
 
  .background {
    position: relative;
    height: 86vh;
    width: 100vw;
  }

  .rotateMessage {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: inherit;
    width: 100vw;
  }
  
  .rotateImg {
    width: 60%;
    margin-top: 10%;
  }
}


  /* iPad Landscape / Desktop View */
  @media all and (min-width: 1024px) {
    .background {
      height: 81vh;
    }
  
    .rotateMessage, .rotateImg {
      display: none;
    }

    .hint {
      font-size: 20px;
    }
    
    .hintBtn {
      padding: 15px;
      font-size: 20px;
      
    }
  }
  