<section class="background">
  <!-- <h1>Room 1 Front Component</h1> -->

  <section *ngIf="!isShowing">
    <p>
      That was a breeze! Now you’re in Room 1. Do you find all the items in time
      or stay trapped in the surgery room forever?!
    </p>
    <button (click)="toggleShow()">OK</button>
  </section>

  <div *ngFor="let uItem of unlockItems; index as i">
    <img
      src="{{ uItem.image }}"
      class="uItem{{ i }}"
      alt="{{ uItem.item_name }}"
      (click)="matchItems2(uItem.item_name)"
    />
  </div>

  <!-- <div *ngFor="let item of items; index as i">
  <img src="{{ item.image }}" class="item{{ i }}" alt="{{ item.item_name }}"
    (click)="[selectItem(item), removeItem(i)]">
</div>  -->

  <!-- 
<div>
    <img src="{{ doorImage }}" class="uItem{{ i }}" alt="{{ doorName }}" 
    (click)="matchItems2(door.item_name)">
  </div> -->
</section>
