@font-face {
    font-family: 'true_liesregular';
    src: url('../../assets/true_lies-webfont.woff2') format('woff2'),
         url('../../assets/true_lies-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


h1 {
    font-family: 'true_liesregular';
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

section {
    border: 1px solid black;
}

.clicked {
    color: red;
}

.uItem1 {
    display: none;
}

.rotate {
    color: white;
    height: 85vh;
    width: 100vw;
  }
  /* Mobile Landscape View */
  @media all and (min-width: 568px) {
    .background {
      background-image: url("../../assets/img/Surgery-F-2.png");
      background-size: cover;
      height: 80vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .rotate {
      display: none;
    }
  }
  
  /* iPad Portrait View -- display rotate message */
  /* 
  @media all and (min-width: 768px) {
    .background {
      display: none;
    }
    .rotate {
      display: block;
    }
  } */
  /* iPad Landscape View */
  @media all and (min-width: 1024px) {
    .background {
      background-image: url("../../assets/img/Surgery-F-2.png");
      background-size: cover;
      height: 85vh;
      width: 100vw;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }