<section class="background">
  <div class="rotateMessage">
    Please rotate to landscape to play!
    <img src="../../assets/img/rotate.png" class="rotateImg" />
  </div>

  <section *ngIf="this.room1Service.isShowing" class="prompt">
    <h2>The Operating Room</h2>
    <p>
      That was a breeze! Now you’re in Room 1. Do you find all the items in time
      or stay trapped in the surgery room forever?!
    </p>
    <button class="promptBtn" (click)="hidePrompt()">OK</button>
  </section>

  <div class="overlay" (mousemove)="flashlightCursor($event)">
    <div
      *ngIf="isMobileDevice()"
      class="mobileFlashlight"
      cdkDragBoundary=".overlay"
      cdkDrag
    ></div>
    <div
      *ngIf="!isMobileDevice()"
      class="desktopFlashlight"
      [ngStyle]="{
        top: y + 'px',
        left: x + 'px'
      }"
    ></div>

    <div
      *ngFor="let uItem of unlockItems; index as i"
      [ngClass]="{ hidden: this.room1Service.uItems[i].collected }"
    >
      <img
        src="{{ uItem.item_image }}"
        class="uItem{{ i }} items"
        alt="{{ uItem.item_name }}"
        (click)="[matchItems2(uItem.item_name), showUnlockHint(i)]"
      />

      <div *ngIf="this.room1Service.uItems[i].showingHint" class="hint">
        <p>{{ uItem.item_use }}</p>
        <button class="hintBtn" (click)="hideUnlockHint(i)">
          OK
        </button>
      </div>
    </div>
  </div>
</section>
